body {
  background-image: url('Images/Space.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a.para
{
    position: relative;
	text-decoration: none;
	color: pink;
}
a.para:hover
{
	color: pink;
}
a.para:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
a.para:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

a.nav-link
{
    position: relative;
}
a.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
a.nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

p{
	color:white;
	text-align:center;
}
@media screen and (min-width: 601px) {
  p {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 18px;
  }
}