body {
  background-image: url('Images/Space.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}
p{
	color:white;
	text-align:center;
}
@media screen and (min-width: 601px) {
  p {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 18px;
  }
}